rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Mission/{document=**} {
      allow read, write: if request.auth.uid != null;
    }
    match /Substory/{document=**} {
      allow read, write: if request.auth.uid != null;
    }
    match /Team/{uid} {
    	allow read, write : if request.auth.uid == uid
      allow read, write : if request.auth.uid == "uKltYssLppParcaRwvGzbDNI0HB3"
    }
    match /Team/teamXX {
    	allow read, write : if request.auth.uid != null
    }
    match /Team/backup {
    	allow read, write : if request.auth.uid != null
    }
    match /Submittion/{document=**} {
    	allow read, write : if request.auth.uid != null
      allow read, write : if request.auth.uid == "uKltYssLppParcaRwvGzbDNI0HB3"
    }
    match /mainMissionAnswer/{document=**} {
    	allow read, write : if request.auth.uid != null
    }
    match /subStoryAnswer/{document=**} {
    	allow read, write : if request.auth.uid != null
    }
  }
}